<div class="main-container">
  <div class="text-content">
    <div class="mini-content-0">

      <p>
        Benefit Of <br />
        Regular <br />
        Exercise
      </p>
    </div>
    <div class="mini-content">
      <div class="mini-content-1">
        <div class="dash"></div>
        <div class="text">
          <a>What We Do</a>
        </div>
      </div>
      <div class="mini-content-2">
        <a>
          At our fitness studio you can experince the best level of customer
          services
        </a>
      </div>
    </div>
    <div class="button">
      <a>Contact us</a>
    </div>
  </div>
  <div class="image-content"></div>
</div>
